* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}

header,
header h1 {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
}

.intro-heading {
    left: 0;
    line-height: normal;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}


.buttons {
    background-color: #f2BD21;
    box-shadow: 0 3px lightgray;
    font-size: large;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    display: block;
    width: 150px;
    padding: 10px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 30px;
}

.buttons:hover {
    background-color: #CC5500;
    box-shadow: 0 3px lightgray;
}

.hide {
    display: none;
}


